/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

/* setup tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lilita One", "Mochiy Pop One";
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}
